.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.searchField {
  border-bottom: 1px solid #c0c0c0;  
  padding : 1em;
  margin-bottom : 1em;
}

.form-text-input{
  max-width: 80em;
}

.item-list .ui.list>.item .header, .item-list .description {
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-left:0.5em;
  line-height: 1.5rem;
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
